.idea

# Linux AppImage
/app/AppDir
/app/appimage-build

.refena_inspector/

/secrets

# FVM Version Cache
.fvm/

# macOS / Xcode
/app/macos/Runner.xcodeproj/project.pbxproj
/app/macos/Podfile.lock

# Rust generated / lock files
/app/rust/Cargo.lock
#/server/Cargo.lock

# Local-only Rust file
/app/rust/src/api/model.rs